<div class="form-control-lg">

    <a href="/Menus/Index" class="btn btn-info" role="button">Menu Configuration</a>
    <a href="/Table/TableIndex" class="btn btn-info" role="button">Table Configuration</a>
    <a href="/RestaurantManagement/TaxConfig" class="btn btn-info" role="button">Change Tax Values</a>
    <a href="/RestaurantManagement/Stats" class="btn btn-info disabled" role="button">Stastistics</a>

</div>